html {
  box-sizing: border-box;
}
body {
  background: white;
  font: 12px Arial, sans-serif;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  color: darkslategray;
  font: 18px Arial;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 15px;
}
.a {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}
.b {
  display: inline-block;
  vertical-align: top;
  width: 620px;
}
p {
  color: black;
  margin-left: 15px;
  margin-right: 15px;
}
.pagebreak {
  page-break-before: always;
  min-height: 1px;
}
.newpage {
  margin-top: 25px;
}
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 460px;
  border: 3px solid darkslategray;
  background-color: whitesmoke;
  table-layout: fixed;
  margin-left: 15px;
}
th, td {
  border: 1px solid darkgray;
  height: 25px;
  padding: 0 5px 0 5px;
}
tr, td {
  page-break-inside: avoid;
  page-break-after: auto;
}
tr.noborder, td.noborder {
  border: 0;
}
td {
  font: 10px Arial;
}
th {
  background-color: steelblue;
  font: 12px Arial;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid darkslategray;
}
thead tr th:nth-child(1) {
  width: 30%;
}
thead tr th:nth-child(2) {
  width: 60%;
}
thead tr th:nth-child(3) {
  width: 10%;
}
thead {
  display: table-header-group;
}
img {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  display: inline;
  margin: 0 0 10px 0;
}
figure figcaption {
  text-align: center;
}
img.nomargin {
  margin: 0 0 0 0;
}
td.selected {
  background-color: lightsteelblue;
  color: steelblue;
  font-weight: bold;
}
td.notselected {
  color: black;
}
tr.highest {
  border-top: 2px solid darkslategray;
}
td.weighted_score {
  font-weight: bold;
}
hr {
  border: 1px solid darkslategray;
}
#print-button {
  border-radius: 35px;
  border: 3px solid blue;
  background: white;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding: 5px 5px 5px 5px;
  width: 60px;
  height: 60px;
}
#attributes {
  display: inline-block;
  border-radius: 15px;
  border: 2px solid darkslategray;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
/* @page{size:auto; margin:0mm;} removes the date and
title header when printing */
@page{size:auto; margin:0mm;}
